body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.NavBarBody {
  background-color: rgb(247, 158, 56);
  color: white;
  height: 4.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBarTitle {
  font-size: 24px;
  padding-left: 1.5em;
  text-decoration: none;
  color: white;
}

.NavBarTitle:hover {
  text-decoration: underline;
}

.NavBarMenuItems {
  padding-right: 3vw;
  display: flex;
  gap: 50px;
}

.NavLink {
  color: white;
  text-decoration: none;
}

.NavLink:hover {
  text-decoration: underline;
}
