html {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 95vw;
  background-color: white;
  color: black;
}

.Homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.NavBarBody {
  background-color: slategray;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavBarTitle {
  font-size: 1.75rem;
  padding-left: 1.5rem;
  text-decoration: none;
  color: white;
}

.NavBarTitle:hover {
  text-decoration: underline;
}

.NavBarMenuItems {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
  padding-right: 25px;
}

.NavLink {
  color: white;
  text-decoration: none;
}

.NavLink:hover {
  text-decoration: underline;
}

hr {
  width: 75vw;
}